@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Inter:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

@theme {
  --color-white: #ffffff;
  --color-black: #242424;
  --color-grey: #f3f3f3;
  --color-dark-grey: #6b6b6b;
  --color-red: #ff4e4e;
  --color-transparent: transparent;
  --color-link: #1da1f2;
  --color-purple: #8b46ff;

  --font-gelasio: "Gelasio", sans-serif;
  --font-inter: "Inter", serif;
  --text-base: 16px;
}

@layer components {
  body {
    @apply font-inter font-normal text-black;
  }
  .input-field {
    @apply w-full rounded-md p-3 bg-grey border-grey text-sm placeholder:text-gray-500 text-dark-grey focus:outline-none border  focus:bg-transparent transition duration-200;
  }

  input:disabled,
  input:disabled ~ .input-icon {
    @apply opacity-50;
  }

  .input-icon {
    @apply absolute left-4 top-1/2 -translate-y-1/2;
  }
}
